.home-container {
  display: flex;
  @include flex(row, flex-start, center);
  padding: 0 6%;
  height: 100vh;

  @include tablet {
    background-size: contain;
    padding: 0 10%;
  }
}

.container {
  display: flex;
  @include flex();

  // padding: 0 5%;
  min-height: 100vh;
  padding: 0 10%;
  // margin: auto;

  @include tablet {
    // padding: 0 2rem;
  }
}

.about {
  display: flex;
  padding: 0 1.5rem;
  // width: 100vw;
  // height: auto;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    @include flex(column, space-evenly, flex-start);
  }
}
.skills {
  display: flex;
  @include flex(column, space-evenly, center);
}

.project-container {
  display: flex;
  @include flex();
  padding-bottom: 5rem;
}

.form-container {
  width: 100%;
  // height: 100vh;
}

.contact {
  // min-height: 0;
  display: flex;
  @include flex();
}
