@import url('https://fonts.googleapis.com/css?family=Sacramento');

.tags {
  color: $tags;
  font-family: $font-cursive;
  font-size: $xl;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;

  @include tablet {
    // font-size: $tags-tablet;
  }
}
.bg-wrapper {
  display: flex;
  @include flex(column, space-between, null);
  padding-left: 0.5rem;
  height: 100%;
  // width: 100vw;

  @include tablet {
    padding-left: 1rem;
  }
}
.bodytags {
  display: flex;
  @include flex(column, space-between, null);
  // height: 100%;
  padding-left: 1rem;
}

.children {
  padding-left: 0.5rem;
  @include tablet {
    padding-left: 1rem;
  }

  @include desktop {
    // padding: 1rem 0;
  }
}
.children-home {
  display: flex;
  @include flex(column, center, null);
  // height: 110%;
}
